.task-cards-holder {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.task-card {
  width: 300px;
  height: 300px;
  display: inline-block;
  font-size: 1.25rem;
  line-height: 1.5;
  padding: 20px;
  margin: 20px 40px;
  border: 2px solid #000;
  border-radius: 8px;
  box-shadow: 2px 12px 12px -6px rgba(0, 0, 0, 0.5);
  overflow-y: scroll;
}

.task-card h3 {
  font-size: 1.5rem;
  text-align: center;
}

.line-through {
  text-decoration: line-through;
}

.task-card strong {
  color: #9c34c2;
  line-height: 2;
}

.task-card span {
  font-size: 1rem;
  font-weight: 600;
}

.delete-button,
.complete-button {
  font-size: 0.85rem;
  font-weight: 600;
  display: block;
  color: #9c34c2;
  background-color: #fff;
  padding: 6px 8px;
  margin: 10px auto;
  border-radius: 5px;
  cursor: pointer;
}

.message { 
  font-family: sans-serif;
  font-size: 2.25rem;
  font-weight: 600;
  color: #302d2d;
  padding-left: 2rem;
  opacity: 0.8;
}